<div class="d-flex flex-wrap">
{% for database in databases %}
<div class="position-relative m-2 p-3 border rounded shadow-sm">
    <a href="{{url_for('admin_get_database', database_id=database.id)}}" class="nav-link d-flex flex-column align-items-center p-2 text-black-50 hover:text-dark">
        <i class="fas fa-database fa-fw fa-3x mb-2"></i>
        <span>{{ database['name'] }}</span>
    </a>
	<nav class="nav-item dropdown position-absolute" style="right: 13px; top: 8px">
        <a class="nav-link" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
            <i class="fas fa-ellipsis-v text-secondary"></i>
        </a>
        <ul class="dropdown-menu rounded-0 shadow border-0">
            <li>
                <a href="{{url_for('admin_get_database', database_id=database.id)}}" class="dropdown-item small py-0">
                    Details
                </a>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li>
				<form method="post" action="{{ url_for('admin_delete_database', database_id=database.id) }}">
					<button type="submit" class="btn btn-link text-danger small py-0" style="text-decoration: none">Delete</button>
				</form>
			</li>
        </ul>
    </nav>
</div>
{% endfor %}
</div>