{% extends "account/layout.html" %}
{% block title %} 
{{super()}} - {{page | capitalize}} - {{project.name}}
{% endblock %}

{% block pagetitle %}
<div class="d-flex align-items center custom-flex-wrap white-space-nowrap">
    <a href="{{url_for('list_user_projects')}}" class="nav-link p-0 text-black-50 hover:text-dark">
        <i class="fas fa-arrow-left fa-fw"></i> 
        <span class="d-none d-sm-inline">{{ super() }}</span>
    </a>
    <span class="d-none d-sm-inline">/</span>
    <span>{{ project.name | upper}}</span>
</div>
{% endblock %}

{% block content %}
{% include 'modals/confirm.html' %}
{% include 'projects/modal.html' %}
<div class="container">
    {% for (category, message) in get_flashed_messages(request) %}
    <div class="alert alert-{{category}} alert-dismissible bg-gradient d-flex justify-content-between rounded-0">
        <strong>{{message}}</strong>
        <button type="button" class="btn btn-close" data-bs-dismiss="alert"></button>
    </div>
    {% endfor %}

    <input 
        class="form-check-input d-none" 
        type="checkbox"
        data-project-id="{{project.id}}"
        data-project-name="{{project.name}}"
        id="input_{{project.id}}"
    >

    <div class="tools d-flex justify-content-end">
        <div class="btn-group hover:shadow-sm pb-0" role="group" aria-label="tool buttons">
            <nav class="nav-item dropdown" aria-label="Functions">
                <a href="#" class="btn btn-outline-dark rounded-0 rounded-start" data-bs-toggle="dropdown" role="button" aria-expanded="false" title="Run Functions">
                    <i class="fas fa-terminal"></i>
                </a>
                <ul class="dropdown-menu rounded-0 shadow border-0">
                    {% for func in funcs %}
                    <li>
                        <a href="{{url_for('run_project', project_id=project.id, function=func.name) }}" class="dropdown-item small border-bottom" target="_blank">
                            <i class="fas fa-terminal fa-fw text-dark me-2"></i> {{func.name}}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </nav>
            <a href="{{ url_for('reinstall_project_dependencies', project_id=project.id)}}" role="button" class="btn btn-outline-success" title="Reinstall Dependencies">
                <i class="fas fa-wrench"></i>
            </a>
            {% if project.private %}
            <a href="{{ url_for('list_user_projects')}}" role="button" class="btn btn-outline-secondary" title="Make project public">
                <i class="fas fa-eye"></i>
            </a>
            {% else %}
            <a href="{{ url_for('list_user_projects')}}" role="button" class="btn btn-outline-secondary" title="Make project private">
                <i class="fas fa-eye-slash"></i>
            </a>
            {% endif %}
            <a href="javascript:onDeleteProject('{{project.id}}')" class="btn btn-outline-danger" title="Delete Project">
                <i class="fas fa-trash-alt"></i>
            </a>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-md-6 col-lg-4 mt-4">
            <div class="card rounded-0 border-0 shadow-sm hover:shadow">
                <div class="p-0 p-2 d-flex justify-content-between aling-items-center border-bottom">
                    <small class="fw-bold">Project Details</small>
                </div>
                <div class="card-body pb-0 d-flex flex-column gap-3">
                    {% for key, value in project.items() %}
                        <div class="border-bottom pb-2">
                            <small class="text-center pe-2">{{key | capitalize}}:</small>
                            <small class="text-secondary">{{value}}</small>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 mt-4">
            <div class="card rounded-0 border-0 shadow-sm hover:shadow">
                <div class="p-0 p-2 d-flex justify-content-between aling-items-center border-bottom">
                    <small class="fw-bold">Functions</small>
                </div>
                <div class="card-body pb-0 d-flex flex-column gap-3">
                    {% for func in funcs %}
                        <div class="border-bottom pb-2">
                            <small class="text-center pe-2">{{func.name | title}}</small>
                            <a href="{{url_for('run_project', project_id=project.id, function=func.name) }}" class="nav-link p-0" target="_blank">
                                <small class="text-secondary">
                                    {{url_for('run_project', project_id=project.id, function=func.name) }}
                                </small>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 mt-4">
            <div class="card rounded-0 border-0 shadow-sm hover:shadow">
                <div class="p-0 p-2 d-flex justify-content-between aling-items-center border-bottom">
                    <small class="fw-bold">Environment Variables</small>
                    <div class="btn-group hover:shadow-sm">
                        <button type="button" class="btn btn-sm btn-outline-secondary" onclick="createEnv()">
                            <i class="fas fa-plus"></i>
                        </button>
                        <button type="submit" class="btn btn-sm btn-outline-dark" onclick="updateEnvs()">
                            <i class="fas fa-save fa-fw"></i> Update
                        </button>
                    </div>
                </div>
                <div class="card-body pb-0 d-flex flex-column gap-3">
                    <form action="{{url_for('user_project_environ', project_id=project.id)}}" method="post" class="env-form">
                        {% for key, value in environs.items() %}
                        {% set id = 'env'+(loop.index | string) %}
                        {% set envKey = 'envKey'+(loop.index | string) %}
                            <div class="form-group d-flex justify-content-between align-items-center gap-3 pb-2" id="{{id}}">
                                <input 
                                    type="text" 
                                    value="{{key}}" 
                                    placeholder="key" 
                                    class="form-control form-control-sm key-input text-secondary border-0 bg-light hover:shadow-sm py-2"
                                    data-name="{{envKey}}" 
                                    required 
                                    onkeyup="setEnvKey(this)">
                                <span>=</span>
                                <input 
                                    type="text" 
                                    name="{{key}}" 
                                    value="{{value}}" 
                                    placeholder="value" 
                                    id="{{envKey}}" 
                                    class="form-control form-control-sm text-secondary border-0 bg-light hover:shadow-sm py-2" 
                                    required>
                                <a href="javascript: deleteElem('{{id}}')" class="nav-link">
                                    <i class="fas fa-times text-danger"></i>
                                </a>
                            </div>
                        {% endfor %}
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="d-none" id="accessToken">
        {{request.session['access_token']}}
    </div>
</div>
{% endblock %}

{% block scripts %} 
{{super()}}
<script src="/static/js/github.js"></script>
<script src="/static/js/projects.js"></script>
{% endblock %}