<div class="row bg-dark text-white w-100 rounded-0 border-0 shadow-sm d-flex justify-content-between fs-5 p-2 px-4 mt-3">
    <div class="col d-flex gap-2">
        <input class="form-check-input cursor-pointer" type="checkbox" value="" id="selectAll">
        <span>Name</span>
    </div>
    <div class="col d-flex align-items-center gap-2">
        <span>Language</span>
    </div>
    <div class="col d-flex align-items-center justify-content-end gap-2">
        <span>Actions</span>
    </div>
</div>
{% for project in projects %}
<div class="row bg-white w-100 rounded-0 border-0 shadow-sm hover:shadow d-flex justify-content-between fs-5 p-2 px-4 mt-3">
    <div class="col d-flex gap-2">
        <input 
            class="form-check-input cursor-pointer" 
            type="checkbox"
            data-project-id="{{project.id}}"
            data-project-name="{{project.name}}">
        <a href="{{url_for('user_project_details', project_id=project.id)}}" class="nav-link">
            {{ project['name'] | title}}
        </a>
    </div>
    <div class="col d-flex align-items-center gap-2">
        <i class="{{ icons[project.language]}} fa-fw"></i>
        <span>{{project['language'] | title}}</span>project
    </div>
    <div class="col d-flex align-items-center justify-content-end gap-2">
        <a href="{{url_for('user_project_details', project_id=project.id)}}" class="nav-link" title="Details">
            <i class="far fa-file-alt text-primary"></i>
        </a>
        <a href="#confirmModal" role="button" class="nav-link"  data-bs-toggle="modal" title="Delete">
            <i class="fas fa-trash-alt text-danger"></i>
        </a>
    </div>
</div>
{% endfor %}