# fly.toml app configuration file generated for runit on 2023-09-08T10:10:06Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "runit"
primary_region = "sin"

[build]
  # builder = "paketobuildpacks/builder:full"
  dockerfile = "Dockerfile"
  # image = "theonlyamos/runit_server:latest"

[mounts]
  source = "runit_data"
  destination = "/root"

[env]
  PORT = "9000"
  RUNIT_WORKDIR = '/root/RUNIT_WORKDIR'
  SETUP='completed'

[http_service]
  internal_port = 9000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]
