<div class="d-flex flex-wrap">
{% for project in projects %}
<div class="position-relative m-2 p-3 border rounded shadow-sm">
    <a href="{{url_for('admin_get_project', project_id=project.id)}}" class="nav-link d-flex flex-column align-items-center p-2 text-black-50 hover:text-dark">
        <i class="fab fa-{{ icons[project.language]}} fa-fw fa-3x mb-2"></i>
        <span>{{ project['name'] }}</span>
    </a>
    <nav class="nav-item dropdown position-absolute" style="right: 13px; top: 8px">
        <a class="nav-link" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
            <i class="fas fa-ellipsis-v text-secondary"></i>
        </a>
        <ul class="dropdown-menu rounded-0 shadow">
            <li>
                <a href="{{url_for('run_project', project_id=project.id, function='index')}}" class="dropdown-item small py-0" target="_blank">
                    Run
                </a>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li>
                <a href="{{url_for('admin_get_project', project_id=project.id)}}" class="dropdown-item small py-0">
                    Details
                </a>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item text-danger small py-0" href="#">Delete</a></li>
        </ul>
    </nav>
</div>
{% endfor %}
</div>