<div class="modal fade" id="projectModal" tabindex="-1" aria-labelledby="projectModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content rounded-0">
            <form action="{{ url_for('admin_create_project') }}" method="post">
                
                <div class="modal-header text-bg-dark rounded-0">
                    <h5 class="modal-title fw-bolder" id="projectModalLabel">New Project</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group mb-3">
                        <input type="text"  name="name" 
                        class="form-control form-control-sm border-0 border-bottom border-dark rounded-0" 
                        placeholder="Name of the project" autocomplete="off" required>
                    </div>
                    <div class="form-group mb-3">
                        <select name="language" class="form-select form-select-sm border-0 border-bottom border-dark rounded-0" required>
                            <option selected disabled>
                                <i class="fas fa-code fa-fw"></i> Programming Language
                            </option>
                            {% for lang in languages %}
                            <option value="{{lang}}">
                                <i class="fab fa-{{icons[lang]}} fa-fw"></i> {{ lang | capitalize }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="modal-footer p-0">
                    <button type="button" class="btn btn-danger rounded-0 m-0" data-bs-dismiss="modal">
                        <small>Close</small>
                    </button>
                    <button type="submit" class="btn btn-dark rounded-0 m-0">
                        <small>Create Project</small>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>