<div class="modal fade" id="databaseModal" tabindex="-1" aria-labelledby="databaseModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="dialog">
        <div class="modal-content rounded-0">
            <form action="{{ url_for('create_user_database') }}" method="post">
                <div class="modal-header text-bg-secondary rounded-0">
                    <h5 class="modal-title fw-bolder" id="databaseModalLabel">New Database</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
		    		<div class="form-group">
						<label class="form-labe small text-secondary">Database Name</label>
						<input type="text" name="name" class="form-control form-control-sm border-0 bg-light text-secondary hover:shadow-sm py-2"/>
					</div>
					<div class="form-group mt-2">
						<label class="form-label small text-secondary">Project</label>
						<select name="project_id" class="form-select form-select-sm border-0 bg-light text-secondary hover:shadow-sm py-2">
							<option selected class="text-secondary">Select Project</option>
							{% for project in projects %}
							<option value="{{project.id}}" class="text-secondary">{{project.name | title}}</option>
							{% endfor %}
						</select>
					</div>
                </div>
                <div class="modal-footer border-0 gap-3">
                    <button type="button" class="btn btn-light bg-gradient hover:shadow-sm m-0" data-bs-dismiss="modal">
                        <small>Close</small>
                    </button>
                    <button type="submit" class="btn btn-secondary bg-gradient border-0 hover:shadow-sm m-0">
                        <small>Create Database</small>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
