<!DOCTYPE html>
<html lang="en" data-theme="dark">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}Runit{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="Runit Server - Deploy and manage your projects">
    <meta name="keywords" content="runit, server, deploy, python, javascript, php">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600;700&family=JetBrains+Mono:wght@400;500;600;700&display=swap" rel="stylesheet">

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/all.min.css" rel="stylesheet">
    <link href="/static/css/styles.css" rel="stylesheet">
    <link rel="icon" href="/static/images/dark-terminal.svg">

    <meta name="msapplication-TileColor" content="#ffb000">
    <meta name="theme-color" content="#ffb000">
</head>

<body>
    {% block content %}{% endblock %}

    {% block scripts %}
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <script>
        (function() {
            const savedTheme = localStorage.getItem('runit-theme') || 'dark';
            document.documentElement.setAttribute('data-theme', savedTheme);
        })();
        
        function toggleTheme() {
            const html = document.documentElement;
            const currentTheme = html.getAttribute('data-theme');
            const newTheme = currentTheme === 'dark' ? 'light' : 'dark';
            html.setAttribute('data-theme', newTheme);
            localStorage.setItem('runit-theme', newTheme);
        }
    </script>
    {% endblock %}
</body>
</html>
