<div class="sidebar position-relative d-none d-sm-flex flex-column text-bg-dark vh-100">
    {% for item in menu %}
    <a href="{{ url_for(item['url']) }}" 
        class="nav-link p-2 py-3 opacity-75 {% if item['name'] == page %}opacity-100{% endif %}"
        title="{{ item['name'] | capitalize }}">
        <i class="fas fa-{{ item['icon']}} fa-fw fa-2x"></i>
    </a>
    {% endfor %}
    <a href="{{ url_for('user_logout') }}" class="nav-link p-2 py-3 text-danger position-absolute bottom-0">
        <i class="fas fa-sign-out-alt fa-fw fa-2x"></i>
    </a>
</div>