{% extends "admin/layout.html" %}
{% block content %}
<div class="p-4 w-100">
    <div class="h5 text-center">
        Welcome to your dashboard, <strong class="text-primary"><em>{{admin_name}}</em></strong>
    </div>
</div>
<div class="d-flex flex-wrap justify-content-center py-5 px-3">
    {% set menu = [
        {'name': 'users', 'icon': 'users', 'url': 'admin_list_users'},
        {'name': 'projects', 'icon': 'sitemap', 'url': 'admin_list_projects'},
        {'name': 'databases', 'icon': 'database', 'url': 'admin_list_databases'},
        {'name': 'profile', 'icon': 'user', 'url': 'admin_profile'}
    ] %}
    {% for item in menu %}
    <a href="{{ url_for(item['url']) }}" 
        class="nav-link p-5 m-2 border hover:shadow-sm text-black-50 hover:text-dark"
        title="{{ item['name'] | capitalize }}">
        <i class="fas fa-{{ item['icon']}} fa-fw fa-2x"></i>
    </a>
    {% endfor %}
</div>
{% endblock %}
