{% extends "layout.html" %}
{% block content %}
<main class="vh-100 vw-100 d-flex align-items-center justify-content-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-10 col-md-7 col-lg-5">
                <div class="card shadow align-self-center border-0">
                    <div class="card-body">
                        <form class="form-floating bg-gradient" action="{{ url_for('admin_login') }}" method="post">
                            <h5 class="text-center text-danger fs-4 font-lato">Administrator</h5>
                            <h5 class="text-center mt-2 mb-3 pb-3 border-bottom text-danger fs-4 font-lato">Login</h5>
                            {% for (category, message) in get_flashed_messages(request) %}
                            <div class="alert alert-{{category}} alert-dismissible bg-gradient d-flex justify-content-between rounded-0">
                                <strong>{{message}}</strong>
                                <button type="button" class="btn btn-close" data-bs-dismiss="alert"></button>
                            </div>
                            {% endfor %}
                            <div class="form-group mb-3">
                                <label class="form-label" for="username">Username</label>
                                <input type="username" class="form-control rounded-0" name="username" required>
                            </div>
                            <div class="form-group mb-3">
                                <label class="form-label" for="password">Password</label>
                                <input type="password" class="form-control rounded-0" name="password" required>
                            </div>
                            <div class="form-group d-flex justify-content-end mb-3">
                                <button type="submit" class="btn btn-outline-dark bg-gradient shadow-sm rounded-0 shadow px-4">Login</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}