body {
    overflow: hidden;
    font-size: 16px;
}

.sidebar a:hover {
    opacity: 1 !important;
}

.sidebar a.active {
    opacity: 1 !important;
}

.main-content {
    height: 100vh;
    overflow-y: auto;
}

.cursor-pointer {
    cursor: pointer;
}

.hover\:shadow-sm:hover {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

.hover\:shadow:hover {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.hover\:text-dark:hover {
    color: rgba(var(--bs-dark-rgb),var(--bs-text-opacity))!important;
}

.hover\:bg-dark:hover {
    background-color: rgb(33 37 41) !important;
}

.custom-flex-wrap {
    flex-wrap: wrap;
}

.white-space-nowrap {
    white-space: nowrap;
}

@media screen and (min-width: 576px) {
    .main-content {
        height: 80vh;
    }
}