<div class="modal fade" id="databaseModal" tabindex="-1" aria-labelledby="databaseModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="dialog">
        <div class="modal-content rounded-0">
            <form action="{{ url_for('admin_create_database') }}" method="post">
                <div class="modal-header text-bg-dark rounded-0">
                    <h5 class="modal-title fw-bolder" id="databaseModalLabel">New Document</h5>
                    <button type="button" class="btn-close bg-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% for key, value in database.schema.items() %}
                    {% set id = 'schema'+(loop.index | string) %}
                        <div class="{{ 'form-check form-switch' if value == 'bool' else  'form-group' }} mb-2">
                            <label class="{{'form-check-label' if value == 'bool' else 'form-label'}} mb-0 text-muted" for="{{id}}">{{key | title}}</label>
                            {% if value == 'text' %}
                            <textarea name="{{key}}" id="{{id}}" rows="3" class="form-control form-control-sm"></textarea>
                            {% else %}
                            <input type="{{inputTypes[value]}}" name="{{key}}" class="{{'form-check-input' if value == 'bool' else 'form-control form-control-sm'}}" id="{{id}}" required>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
                <div class="modal-footer p-0">
                    <button type="button" class="btn btn-light rounded-0 m-0" data-bs-dismiss="modal">
                        <small>Close</small>
                    </button>
                    <button type="submit" class="btn btn-dark rounded-0 m-0">
                        <small>Create Document</small>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
