{% extends "account/layout.html" %}

{% block title %}
{{super()}} | {{page | capitalize}}
{% endblock %}

{% block content %}
{% include 'modals/confirm.html' %}
{% include 'modals/create_database.html' %}
<div class="container">
    {% for (category, message) in get_flashed_messages(request) %}
    <div class="alert alert-{{category}} alert-dismissible bg-gradient d-flex justify-content-between rounded-0">
        <strong>{{message}}</strong>
        <button type="button" class="btn btn-close" data-bs-dismiss="alert"></button>
    </div>
    {% endfor %}
    {% if databases %}

    <div class="tools d-flex justify-content-end">
        <div class="btn-group shadow-sm" role="group" aria-label="tool buttons">
            <a href="{{url_for('list_user_databases')}}?view=grid" class="btn btn-{{'' if request.session['view'] != 'list' else 'outline-'}}secondary bg-gradient" role="button" title="Grid view">
                <small><i class="fas fa-th-large fa-fw"></i></small>
            </a>
            <a href="{{url_for('list_user_databases')}}?view=list" class="btn btn-{{'' if request.session['view'] == 'list' else 'outline-'}}secondary bg-gradient" role="button" title="Table view">
                <small><i class="fas fa-th-list fa-fw"></i></small>
            </a>
        </div>
        <div class="btn-group shadow-sm ms-3" role="group" aria-label="tool buttons">
            <a href="#confirmModal" role="button" class="btn btn-outline-danger bg-gradient" data-bs-toggle="modal">
                <small><i class="fas fa-trash-alt fa-fw"></i></small>
            </a>
            <a href="#databaseModal" role="button" class="btn btn-outline-primary bg-gradient" data-bs-toggle="modal">
               <small>
                <i class="fas fa-plus fa-fw"></i>
                New Database
               </small>
            </a>
        </div>
    </div>
    {% if request.session['view'] == 'list' %} 
    {% include 'databases/list.html' %} 
    {% else %} 
    {% include 'databases/grid.html' %}
    {% endif %}
</div>
{% endif %}
{% if not databases %}
<a href="#databaseModal" class="nav-link d-flex flex-column text-center position-absolute" style="left: 50%; top: 25%; transform: translate(-50%, 50%);" data-bs-toggle="modal" role="button" aria-controls="databaseModal">
    <i class="fas fa-database fa-4x p-3 border text-black-50 hover:text-dark" style="border-style: dashed !important;"></i>
    <span>New</span>
	<span>Database</span>
</a>
{% endif %}
{% endblock %}
