<div class="code-editor">
    <div class="code-editor-header">
        <div class="code-editor-tabs">
            <span class="code-editor-tab active">
                <i class="fas fa-code fa-fw me-1"></i>documents.json
            </span>
        </div>
        <div class="code-editor-dots">
            <span></span><span></span><span></span>
        </div>
    </div>
    <div class="code-editor-body code-editor-no-gutter">
        <pre class="code-editor-content" id="jsonDocument"></pre>
    </div>
</div>
<script>
    let doc = {{ documents | tojson }};
    let jsonStr = JSON.stringify(doc, null, 2);
    
    function syntaxHighlight(json) {
        json = json.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');
        return json.replace(/("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|\b(true|false|null)\b|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?)/g, function (match) {
            let cls = 'code-number';
            if (/^"/.test(match)) {
                if (/:$/.test(match)) {
                    cls = 'code-key';
                } else {
                    cls = 'code-string';
                }
            } else if (/true|false/.test(match)) {
                cls = 'code-boolean';
            } else if (/null/.test(match)) {
                cls = 'code-null';
            }
            return '<span class="' + cls + '">' + match + '</span>';
        });
    }
    
    document.getElementById('jsonDocument').innerHTML = '<code>' + syntaxHighlight(jsonStr) + '</code>';
</script>
