<div class="card">
    <div class="table-responsive">
        <table class="table mb-0">
            <thead>
                <tr>
                    {% for name in table_names %}
                    <th>{{ name | title }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody class="table-body">
                {% for document in documents %}
                <tr>
                    {% for item in document.values() %}
                    <td class="text-mono">{{ item | default(false, true) }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
