<div class="card border-0 bg-white shadow-sm hover:shadow table-responsive p-2">
    <table class="table table-hover table-striped table-bordered m-0">
        <thead>
            {% for name in table_names %}
            <th>{{name | title}}</th>
            {% endfor %}
        </thead>
        <tbody class="table-body">
            {% for document in documents %}
            <tr>
                {% for item in document.values() %}
                <td>{{item | default(false, true)}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>